<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      Search: <input ng-model="query">
    </div>
    <div class="span12">
      Mac: <input type="checkbox" ng-model="mac">
      Windows: <input type="checkbox" ng-model="windows">

    </div>
    <div class="span12">

      <ul class="shortcuts">
        <li ng-repeat="shortcut in shortcuts | filter:query" class="thumbnail">
          <div ng-show="isSelect(shortcut)">
            <p ng-click="select(shortcut)">{{shortcut.action}}</p>
            <p>{{shortcut.mac}}</p>
            <p>{{shortcut.windows}}</p>
          </div>
          <div ng-show="!isSelect(shortcut)">
            <p ng-click="select(shortcut)">{{shortcut.action}}</p>
            <p ng-show="mac">{{shortcut.mac}}</p>
            <p ng-show="windows">{{shortcut.windows}}</p>
          </div>
        </li>
      </ul>

    </div>
  </div>
</div>

